@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --background: #212121;
  --primary: rgb(24, 177, 98);
  --text-gray: rgb(200, 200, 200);
  --sidenav-width: 230px;
  color: aliceblue;
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 10px;
}
